<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
</head>
<body>
    index:
    <li class="house-item">
    <a href=""><img src="/static/images/1.jpg"></a>
    <div class="house-desc">
        <div class="landlord-pic"><img src="/static/images/3.jpg"></div>
        <div class="house-price">￥<span>398</span>/晚</div>
        <div class="house-intro">
            <span class="house-title">宽窄巷子+160平大空间+文化保护区双地铁</span>
            <em>整套出租 - 5分/6点评 - 北京市丰台区六里桥地铁</em>
        </div>
    </div>
</li>
</body>
</html>
